html {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: rgba(255, 255, 255, 1);
	color: #2E2F42;
	font-size: 16px;
    line-height: 1.5;
}

button {
	padding: 0;
	background-color: #4D5AE5;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

header {

}
.blue {
	color: #4D5AE5;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-weight: 700;
  }
  
  .black {
	color: #2E2F42;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-weight: 700;
  }

.main {
	background-color: #2E2F42;
	color: rgba(255, 255, 255, 1);
}
 
.key_messages, p {
	color:#434455;
	line-height: 1.5;
}

h2 {
    color: #2E2F42;
	line-height: 1.11;
}
h3 {
    color: #2E2F42;
	line-height: 1.2;

}
.team {
	background-color: #F4F4FD;
	color: rgba(46, 47, 66, 1);
}
.portfolio {
	list-style-type: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
.footer {
	background-color: #2E2F42;
	color: #F4F4FD;
	font-size: 16px;
    line-height: 1.5;
}